@model IEnumerable<FTAPWeb.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest.InterestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Location1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Founded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest.InterestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Location1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Founded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyId })
        </td>
    </tr>
}

</table>
